
.signin-component{

}
.signin-component button {
    background: transparent;
    
}
.register button {
    border: none;

}

button > * {
    text-decoration: none;
    color: black;

}
.signin-component button > :hover{
    color: gold;
    font-weight: 700;
    transition: .3s ease-out;

}