
.signin-component{
    color: white;

}
.signin-component button {
    background: transparent;
    border: 1px solid white;

    
}
.signin-component input {
    border: 1px solid white;
}
.register button {
    border: none;

}

button > * {
    text-decoration: none;
    color: black;

}
.signin-component button > :hover{
    color: gold;
    font-weight: 700;
    transition: .3s ease-out;

}

.error-signin {
    color: rgb(255, 255, 255); 
    filter: drop-shadow(0 0 5px red);
    text-transform: uppercase;
    font-weight: 700;

    font-size: 1rem;
}