.profile-component{
  gap:5rem;
  margin-top: 0rem;
  color: white;
  display: grid;
  font-size: 2.5rem;
  text-align: center;

}
.profile-component > * {
}

.profile-user {
  display: flex;
justify-content: center;
  align-items: center;
  gap: 1.9rem;
    margin-top: 4rem;
}
@media (max-width: 500px){
  .profile-user {
    margin-top: 8rem;

  }
}


.profile-rank {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:2rem;
  font-size: 2.5rem;
  line-height: 0;

}

.profile-name {
    text-align: center;
    line-height: 0;
    font-family: 'Oswald', sans-serif;

}

.rank{
    line-height: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.profile-rank-system{
  display: grid;
  justify-content: center;
}
.profile-btn {
  background: transparent;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.401);
  border: none;
  margin-inline: auto;
}
.rank-system-container {
  display: grid;
  gap:2rem;
  align-self: flex-start;
  width: 80%;
  margin: 0 auto;
}