.Tilt {
    box-shadow: 0 0 15px 10px  hsl(186, 100%, 52%)
}
.rank-text a {
     color: hsl(186, 100%, 52%)

}
.rank-component .rank-number {
     color: hsl(186, 100%, 52%)

}
.profile-name {
     color: hsl(186, 100%, 52%)

}
.rank{
     color: hsl(186, 100%, 52%)

}
.form {
     background-color: hsl(186, 100%, 52%,0.5);
     opacity: 0.9;
     background: radial-gradient(circle, transparent 20%, hsl(186, 100%, 52%,0.5) 20%, hsl(186, 100%, 52%,0.5) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, hsl(186, 100%, 52%,0.5) 20%, hsl(186, 100%, 52%,0.5) 80%, transparent 80%, transparent) 12.5px 12.5px, linear-gradient(#000000 1px, transparent 1px) 0 -0.5px, linear-gradient(90deg, #000000 1px, hsl(186, 100%, 52%,0.5) 1px) -0.5px 0;
     background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;
}