.Tilt {
    box-shadow: 0 0 15px 10px hsl(226, 100%, 50%) !important
}
.rank-text a {
    color: hsl(226, 100%, 50%) !important;
    text-decoration: underline;

}
.rank-component .rank-number {
    color: hsl(226, 100%, 50%) !important;
    text-decoration: underline;

}
.profile-name {
    color: hsl(226, 100%, 50%) !important

}
.rank {
    color: hsl(226, 100%, 50%) !important

}
.form {
    background-color: hsla(226, 100%, 50%,0.7);
    opacity: 0.9;
    background: radial-gradient(circle, transparent 20%, hsla(226, 100%, 50%,0.5) 20%, hsla(226, 100%, 50%,0.5) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, hsla(226, 100%, 50%,0.5) 20%, hsla(226, 100%, 50%,0.5) 80%, transparent 80%, transparent) 12.5px 12.5px, linear-gradient(#000000 1px, transparent 1px) 0 -0.5px, linear-gradient(90deg, #000000 1px, hsla(226, 100%, 50%,0.5) 1px) -0.5px 0;
    background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;
}
.btn:hover{
    box-shadow: 0 0 15px 1px hsla(160, 97%, 54%, 1)!important ;
    color: hsl(226, 100%, 50%) !important;
}
.form_wrapper span {
    
    color: hsl(226, 100%, 50%) !important;
}